


{% extends 'layout/customer_layout.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block main %}


   <div class="max-w-6xl mx-auto  my-2 p-6 bg-gray-100 rounded-lg">

            <h1 class="text-2xl font-semibold mb-4 text-pink-600">Votre panier</h1>
            
            {% if cart is empty %}
               <p class="text-gray-700">Votre panier est vide.</p>
            {% else %}

            <div class="grid grid-cols-3 gap-4">
               <!-- Section Panier -->
               <div class=" col-span-2 bg-white p-4 rounded-lg shadow">
                     <table class="w-full border-collapse">
                        <tbody>
                           {% for item in cart %}
                                 <tr class="border-b   ">
                                    <td class="p-2 "><img src="{{ asset('uploads/' ~ item.product.imageFileName) }}" alt="{{ item.product.designation }}" class="w-16 h-16 rounded"></td>
                                    <td class="p-2 ">
                                       <p class="font-semibold">{{ item.product.designation }}</p>
                                       <p class="text-green-600 text-sm">In Stock</p>
                                       <p class="text-sm text-gray-600">{{ item.product.price }}€</p>
                                    </td>
                                    <td class=" ">
                                       <button class="px-2 py-1 border rounded">-</button>
                                       <span class="px-4">{{ item.quantity }}</span>
                                       <button class="px-2 py-1 border rounded">+</button>
                                    </td>
                                    <td class="p-2 font-semibold align-middle">{{ item.product.price * item.quantity }}€</td>
                                    <td>
                                       <form action="{{ path('app_cart_remove', {id: item.product.id})}}" method="post">
                                          <input type="hidden" name="token" value="{{ csrf_token('remove_cart') }}">
                                          
                                           <button type="submit" href="{{ path('app_cart_remove', {id: item.product.id}) }}" class="text-red-600">❌</button>
                                       </form>
                                    </td>
                                 </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                     <form action="{{ path('app_cart_clear') }}" method="post" class=" my-2">
                           <input type="hidden" name="token" value="{{ csrf_token('clear_cart') }}">
                           <button type="submit" class="flex items-center gap-2 bg-red-700 text-white py-2 px-4 rounded text-sm">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#f4f4f4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
                              Vider le panier
                        </button>
                     </form>
               </div>

               <!-- Section Récapitulatif -->
               <div class="bg-white p-4 rounded-lg shadow">
                     <h2 class="text-lg font-semibold mb-4">Résumé</h2>
                     <div class="flex justify-between border-b py-2">
                        <span>Sous-total</span>
                        <span>{{ cart|reduce((total, item) => total + (item.product.price * item.quantity), 0) }}€</span>
                     </div>
                     <div class="flex justify-between border-b py-2">
                        <span>Réduction </span>
                        <span class="text-green-600">0 €</span>
                     </div>
                     <div class="flex justify-between border-b py-2">
                        <span>Livraison (Colissimo par défaut)</span>
                        <span>{{ shippingMethod.price}} €</span>
                     </div>
                     <div class="flex justify-between border-b py-2">
                        <span>Taxe</span>
                        <span>0.00€</span>
                     </div>
                     <div class="flex justify-between font-semibold text-lg mt-4">
                        <span>Total</span>
                        <span class="text-pink-600">{{ cart|reduce((total, item) => total + (item.product.price * item.quantity), 0) + shippingMethod.price }}€</span>
                     </div>

                     {# item action #}
                     <form action="{{ path('app_order_create')}}" method ="post">
                        <input type="hidden" name="token" value="{{ csrf_token('validate_cart') }}"> 
                        <button type="submit" class="w-full bg-pink-600 text-white py-2 mt-4 rounded">Passer la commande</button>
                     </form>
                     <a href="{{ path('app_catalog') }}" class="block text-center text-pink-600 mt-2">Continuer les achats</a>
              
               </div>
            </div>
         {% endif %}
  </div>

{% endblock %}