{% extends 'base.html.twig' %}



{% block body %}
  <div class=" min-h-screen">
       
    
        {{ include('partials/_navbar.html.twig') }}

        <!-- Header -->
        <header class="container mx-auto bg-pink-300 text-white text-center py-20 bg-[url('/images/headerPage.png')]">
          
             <h1 class="text-4xl font-bold">Découvrez notre sélection d'ustensiles de cuisine</h1>
            <p class="mt-4 text-lg">Bienvenue dans notre e-shop, votre destination incontournable pour tous vos besoins culinaires.</p>
            <div class="mt-6">
                <a href="{{ path('app_catalog')}}" class="bg-white text-pink-500 px-6 py-2 rounded-lg font-semibold">Explorer</a>
                <a href="{{  path('app_register') }}" class="bg-pink-700 text-white px-6 py-2 rounded-lg font-semibold ml-4">S'inscrire</a>
            </div>
       
        </header>

        <!-- Main Section -->
        <main class="container mx-auto py-12">

            <section class="px-4 py-10 md:px-0">
   
                 <div class="flex flex-col md:flex-row justify-between items-center gap-6">
                        <!-- Texte principal -->
                        <div class="md:flex-[0.4]">
                            <p class="text-sm font-bold text-gray-700">Nos Nouveautés</p>
                            <h2 class="text-3xl md:text-4xl font-semibold text-primary100">
                                Découvrez notre sélection d'ustensiles de cuisine
                            </h2>
                        </div>
                        <!-- Paragraphe -->
                        <p class="md:flex-[0.6] px-4 md:px-10 text-gray-700 text-sm md:text-base">
                            Notre boutique en ligne vous propose une vaste gamme d'ustensiles de cuisine de haute qualité. 
                            Que vous soyez un chef amateur ou un professionnel, vous trouverez tout ce dont vous avez besoin pour 
                            préparer vos plats préférés. Explorez nos catégories et transformez votre expérience culinaire.
                        </p>
                    </div>
                <!-- Grid des produits -->
                <div class="my-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
                    {% for product in lastProducts %}
                        {{ component('ProductCard', { product: product }) }}
                    {% endfor %}
                </div>
        </section>

        <section  class="my-10 bg-primary20 py-16 text-center text-primary100">
            <h2 class="text-3xl font-bold">Rejoignez notre communauté gourmande</h2>
            <p class="mt-4">Abonnez-vous à notre newsletter pour des recettes exclusives et des promotions spéciales.</p>
            <div class="mt-6">
                <a href="#" class="bg-white text-pink-500 px-6 py-2 rounded-lg font-semibold">S'inscrire</a>
                <a href="#" class="bg-pink-700 text-white px-6 py-2 rounded-lg font-semibold ml-4">Découvrir</a>
            </div>
        </section class="container mx-auto py-16 px-6">

      

    </main>

      
        {{ include('partials/_footer.html.twig') }}
 </div>
{% endblock %}
