    <nav class="bg-pink-200 shadow-md">
            <div class="container mx-auto px-6 py-4 flex justify-between items-center">
                <a href="#" class="text-pink-700 text-2xl font-bold">KitchenShop</a>
                <ul class="flex space-x-6">
                    <li><a href="{{ path('app_home')}}" class="text-primary100 hover:text-pink-600">Accueil</a></li>
                    <li><a href="{{ path('app_catalog')}}" class="text-primary100 hover:text-pink-600">Produits</a></li>
                    <li><a href="#" class="text-primary100 hover:text-pink-600">À propos</a></li>
                    <li><a href="#" class="text-primary100 hover:text-pink-600">Contact</a></li>
               
                     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                     <li>
                        <a href="{{ path('app_logout') }}" class="text-pink-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
                        </a>
                     </li>
                    {% else %}
                    <li>
                        <a href="{{ path('app_login') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#D81b60" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round">
                                <circle cx="12" cy="8" r="5"/>
                                <path d="M20 21a8 8 0 0 0-16 0"/>
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('app_cart')}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#D81b60" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
                        </a>
                    </li>

                </ul>
            </div>
    </nav>