<tr class="hover:bg-gray-50">
    <td class="px-6 py-4 text-sm text-gray-600">{{ item.email }}</td>
    <td class="px-6 py-4 text-sm text-gray-600">{{ item.matricule }}</td>
    <td class="px-6 py-4 text-sm text-gray-600">{{ item.departement }}</td>
    <td class="px-6 py-4 text-sm text-gray-600">
   
    {{ component('EditRole', {manager : item}) }}
    </td>
    <td class="px-6 py-4 text-sm text-gray-600">{{ item.createdAt|date('d/m/Y') }}</td>
    <td class="px-6 py-4 text-sm">
       
    </td>
</tr>