

<div {{ attributes }}>
    {{ form_start(form, {
        'attr':  {
            'class': 'flex flex-col p-6', 
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'files(product[image])|save'
            }
         }) 
    }}

       

  
        <div class="mb-4">
            {{ form_label(form.designation, 'Nom du produit', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.designation, {'attr': {'class': 'w-full border rounded-lg py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-400'}}) }}
            <div class="text-red-600 text-sm mt-1">
                {{ form_errors(form.designation) }}
            </div>
        </div>

      
        <div class="mb-4">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'w-full border rounded-lg py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-400'}}) }}
            <div class="text-red-600 text-sm mt-1">
                {{ form_errors(form.description) }}
            </div>
        </div>

       
        <div class="mb-4">
            {{ form_label(form.price, 'Prix', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.price, {'attr': {'class': 'w-full border rounded-lg py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-400'}}) }}
            <div class="text-red-600 text-sm mt-1">
                {{ form_errors(form.price) }}
            </div>
        </div>

           <div class="mb-4">
            {{ form_label(form.purchasePrice, 'Prix d \'achat', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.purchasePrice, {'attr': {'class': 'w-full border rounded-lg py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-400'}}) }}
            <div class="text-red-600 text-sm mt-1">
                {{ form_errors(form.purchasePrice) }}
            </div>
        </div>

        <div class="mb-4">
            {{ form_label(form.stock, 'Quantité', {'label_attr': {'class': 'block text-gray-700'}}) }}
            {{ form_widget(form.stock, {'attr': {'class': 'w-full border rounded-lg py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-400'}}) }}
            <div class="text-red-600 text-sm mt-1">
                {{ form_errors(form.stock) }}
            </div>
        </div>

      <div class="mb-4">
            <label class="flex items-center space-x-4">
                {{ form_label(form.isActive, 'Public', {'label_attr': {'class': 'text-gray-700 font-medium'}}) }}
                
                <div class="relative inline-block w-12 h-6 align-middle select-none transition duration-200 ease-in">
                    {{ form_widget(form.isActive, {
                        'attr': {
                            'class': 'absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer peer checked:bg-green-500 checked:translate-x-6 transition-transform',
                            'style': 'top: 0; left: 0;'
                        }
                    }) }}
                    <div class="block w-full h-full rounded-full bg-gray-300 peer-checked:bg-green-500 peer-checked:border-green-500 transition-colors"></div>
                </div>
            </label>

            <div class="text-red-600 text-sm mt-1">
                {{ form_errors(form.isActive) }}
            </div>
        </div>

      
       
        <button type="submit"  class="w-full bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-xl mt-4">
            Modifier
        </button>

    {{ form_end(form, {'render_rest': false}) }}
</div>